<h1>table</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Occupation</th>
  </tr>
  <% tableData.forEach((row) => { %>
    <tr>
      <td><%= row.name %></td>
      <td><%= row.age %></td>
      <td><%= row.occupation %></td>
      <td><button>view</button></td>
    </tr>
  <% }); %>
</table>
